.gradle/
build/
out/
.idea/
.kotlin/
captures/
**/build/
**/.cxx/
*.iml
*.apk
*.aab
*.keystore
*.jks
secureguard-keystore.jks
keystore.b64
.git/
.gitignore
.github/
.local.properties
local.properties
node_modules/
